@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

@layer components{
    .font-redhatdisplay{
        font-family: 'Red Hat Display', sans-serif;
        }
    .font-inter{
        font-family: 'Inter', sans-serif;
        }
        ::-webkit-scrollbar {
            width: 8px;
          }
          
          ::-webkit-scrollbar-track {
            background-color: #e8f1f2;
          }
          
          ::-webkit-scrollbar-thumb {
            background-color: #7F56D9;
          }
}